<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FinalProject">
    <test name="FinalProject">
        <classes>
            <class name="BaseClass"></class>
            <class name="EditProfileTest"></class>
            <class name="FollowAndUnfollowUserTest"></class>
            <class name="LikeUnlikeAndCommentPostTest"></class>
            <class name="NewPostAndDeleteTest"></class>
            <class name="RegisterUserTest"></class>
        </classes>
    </test>
</suite>